<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <head py:match="head">
    ${select('meta|title|link[@rel!="icon"]|script')}
    <link rel="stylesheet" href="/fanstatic/css/:version:2014-02-21T16:42:44.33/green.min.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/application.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="icon" href="img/dadosgovbr.ico" />
    <link rel="feed" href="/feed/" title="Notícias do Portal Brasileiro de Dados Abertos" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/scripts/bootstrap-dropdown.js"></script>
    <script src="/scripts/bootstrap-transition.js"></script>
    <script src="/scripts/bootstrap-carousel.js"></script>
    <script src="/scripts/bootstrap-tab.js"></script>
    <script src="/scripts/main.js"></script>
  </head>
    <header class="masthead" py:match="//div[@class='header outer']">
        <div id="barra-brasil"><a href="http://brasil.gov.br" style="background:#7F7F7F; height: 20px; padding:4px 0 4px 10px; display: block; font-family:sans,sans-serif; text-decoration:none; color:white; ">Portal do Governo Brasileiro</a></div>
        <div class="container">
                <ul id="accessibility">
					<li>
						<a id="link-conteudo" href="#content" accesskey="1">
							Ir para o conteúdo
							<span>1</span>
						</a>
					</li>
					<li>
						<a id="link-navegacao" href="#menu-horizontal" accesskey="2">
							Ir para o menu
							<span>2</span>
						</a>
					</li>
					<li>
						<a id="link-buscar" href="#search" accesskey="3">
							Ir para a busca
							<span>3</span>
						</a>
					</li>
					<li>
						<a id="link-rodape" href="#footer" accesskey="4">
							Ir para o rodapé
							<span>4</span>
						</a>
					</li>
				</ul>
            <div id="zoom">
              <a href="#" onclick="resizeText(1)" >A+</a>
              <a href="#" onclick="resizeText(-1)">A-</a>
            </div>
            <h1 id="site_logo">
                <a href="/">
                    <span id="portal-type"></span>
                    <span id="portal-title">dados.gov.br</span>
                    <span id="portal-description">Portal Brasileiro de Dados Abertos</span>
                </a>
            </h1>
            
              <ul id="news">
                  <li id="feed"><a rel="feed" href="/feed/" title="Inscrever-se no feed de notícias">feed</a></li>
                  <li id="twitter"><a href="http://twitter.com/dadosgovbr" title="Microblog no Twitter">twitter</a></li>
                  <li id="github"><a href="https://github.com/dadosgovbr" title="Códigos fonte de projetos do dados.gov.br no Github">Códigos fonte de projetos do dados.gov.br no Github</a></li>
              </ul>
        </div>
          <div id="barra-menu">
          </div>
            <nav id="menu-horizontal">
                <ul class="barra-apoio">
                    <li class="first"><a href="/dataset/">Dados</a></li>
		    <li><a href="/aplicativos/">Aplicativos</a></li>
		    <li><a href="/faq/">Perguntas frequentes</a></li>
                    <li><a href="/contato/">Contato</a></li>
                    <li><a href="/sobre/">Sobre o portal</a></li>
                    <!--<li><a href="/governo/"> Como incluir dados ? </a></li>-->
                </ul>
            </nav>
    </header>

    <div py:match="//div[@class='footer outer']>" py:attrs="select('@*')">
      <div class="footer inner">
        <footer>
        <div id="footer"></div>
        <div id="portal">
          <h3> O Portal </h3>
          <ul>
            <li>
              <a href="/dataset/"> Cat&aacute;logo </a>
            </li>
            <li>
              <a href="/cadastrar-organizacao/"> Catalogue seus dados </a>
            </li>
            <li>
              <a href="/mapa-do-site/"> Mapa do site </a>
            </li>
            <li>
              <a href="/sobre/"> Sobre o portal </a>
            </li>
            <li>
              <a href="/faq/"> Perguntas frequentes </a>
            </li>
            <li>
              <a href="/dev/"> Desenvolvimento do portal </a>
            </li>
            <li>
              <a href="/sobre/agradecimentos/"> Agradecimentos </a>
            </li>
          </ul>
        </div>
        <div id="comunidade">
          <h3> Comunidade </h3>
          <ul>
            <li>
              <a href="/comunidade/"> Comunidades </a>
            </li>
            <li>
              <a target="_blank" href="http://twitter.com/dadosgovbr"> Twitter </a>
            </li>
            <li>
              <a target="_blank" href="http://identi.ca/dadosgovbr"> Identi.ca </a>
            </li>
            <li>
              <a target="_blank" href="http://groups.google.com/group/lista-inda-gt3"> Lista de discussão </a>
            </li>
            <li>
              <a href="/ferramentas-colaboracao/"> Ferramentas de colabora&ccedil;&atilde;o </a>
            </li>
            <li>
              <a href="/revision/list"> &Uacute;ltimas alterações </a>
            </li>
            <li>
              <a href="/sugira-dados/"> Sugira dados </a>
            </li>
            <li>
              <a href="/agenda/"> Agenda </a>
            </li>
            <li>
              <a href="/contato/"> Sugest&otilde;es </a>
            </li>
          </ul>
        </div>
        <div id="manuais">
          <h3> Manuais </h3>
          <ul>
            <li>
              <a href="/cartilha-publicacao-dados-abertos/"> Cartilha de publicação de dados </a>
            </li>
            <li>
              <a target="_blank" href="https://www.consultas.governoeletronico.gov.br/ConsultasPublicas/download.do?acao=arquivoDocumentoReferencia&amp;tipo=pdf&amp;id=93"> Guia de abertura de dados </a>
            </li>
            <li>
              <a target="_blank" href="http://wiki.gtinda.ibge.gov.br/GetFile.aspx?File=%2fGT3-Tecnologia%2fArquitetura%20Tecnica%20Referencial%20de%20Abertura%20de%20Dados%20v1%20edicao_duke.odt"> Arquitetura Técnica Referencial </a>
            </li>
            <li>
              <a target="_blank" href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/Manual_Dados_Abertos_WEB.pdf"> Manual de Dados Abertos <abbr title="World Wide Web Consortium">W3C</abbr></a>
            </li>
            <li>
              <a target="_blank" href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/manual_dados_abertos_desenvolvedores_web.pdf"> Manual do desenvolvedor <abbr title="World Wide Web Consortium">W3C</abbr></a>
            </li>
            <li>
              <a target="_blank" href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/encarte_manual_desenvolvedores_web.pdf"> Cartilha do desenvolvedor <abbr title="World Wide Web Consortium">W3C</abbr> </a>
            </li>
            <li>
              <a target="_blank" href="http://opendatahandbook.org/pt_BR/"> Guia de Dados Abertos <abbr title="Open Knowledge Foundation">OKFn</abbr> </a>
            </li>
            <li>
              <a> Manual de catalogação </a>
            </li>
          </ul>
        </div>
        <div id="about">
          <h3> Saiba mais </h3>
          <ul>
            <li>
              <a href="/dados-abertos/"> O que são dados abertos? </a>
            </li>
            <li>
              <a target="_blank" href="http://www.acessoainformacao.gov.br/"> Lei de acesso a informação </a>
            </li>
            <li>
              <a target="_blank" href="http://wiki.gtinda.ibge.gov.br/"> Wiki da <abbr title="Infraestrutura Nacional de Dados Abertos">INDA</abbr> </a>
            </li>
            <li>
              <a href="/instrucao-normativa-da-inda/"> Instrução Normativa da <abbr title="Infraestrutura Nacional de Dados Abertos">INDA</abbr> </a>
            </li>
            <li>
              <a target="_blank" href="http://www.opengovpartnership.org/"> Parceria para Governo Aberto </a>
            </li>
            <li>
              <a href="/outras-iniciativas/"> Outras iniciativas </a>
            </li>
            <li>
              <a target="_blank" href="http://i3gov.planejamento.gov.br/"> Indicadores de governo </a>
            </li>
          </ul>
        </div>
        <div id="colophon">
        Desenvolvido pela <a target="_blank" href="http://www.planejamento.gov.br/secretaria.asp?sec=7">Secretaria de Logística e Tecnologia da Informação</a>, <a target="_blank" href="http://www.planejamento.gov.br/">Ministério do Planejamento, Orçamento e Gestão</a>.
        <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">
        <br />
        <img alt="Licença Creative Commons" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
        Todo conteúdo licenciado sob uma  Licença <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">
        Creative Commons Attribution-ShareAlike 3.0 Unported</a>.
        <br/>
        Logotipo Licenciado sob <a href="http://www.softwarepublico.gov.br/lpm" target="_blank">Licença Pública de Marca</a>.
        <br />
        Site desenvolvido para Firefox, Internet Explorer e Google Chrome, versões a partir de 3.6, 9 e 10, respectivamente.
        </div>
        <div id="acesso-brasil-rodape">
                    <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso">
                        <img src="/img/acesso-a-informacao.png" alt="Acesso a Informação"/>
                    </a>
                    <a href="http://www.brasil.gov.br/" id="logo-brasil">
                        <img src="/img/brasil.png" alt="Brasil - Governo Federal"/>
                    </a>
        </div>
        </footer>
      </div>
    </div>
<!-- Piwik -->
<script type="text/javascript"> 
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://161.148.20.44/stats/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://161.148.20.44/stats/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Code -->
  <xi:include href="layout_base.html" />
</html>

