// main: extra.scss

@media (max-width: 980px) {
  // Bloco de busca da homepage
  body div[role='main'] form#search {
    margin: -3px -2px 16px;
    width: initial;

    #busca {
      width: 74%;
    }
    p {
      padding: 10px 5px 0;
    }
  }

  #accessibility {
    width: 380px;
  }
}
