// Global
// ==========================================================================

// Sidebar
body div[role='main'] section{
  h2 {
    margin-left: 0;
    margin-right: 0;
  }
}

// Links
a {
  color: #222;
}




// Cabeçalho
// ==========================================================================
header.masthead {
  font-size: 0.9em; // FIX font-size

  // Corrige tamanho e espaçamento do menu do header
  #barra-menu {
  	height: 34px;
  }
  #menu-horizontal .barra-apoio {
  	margin: 0px;
  }

  // Logo-imagem dos Dados Abertos
  .logo-img {
    a {
      height: 110px !important;
    }
    img {
      margin: 10px 0px;
      height: 100px;
    }
  }

  // Barra de busca
  .search-form {
    float: right;
    border: none;

    .search-input {
      width: 270px;
    }
  }

} // END cabeçalho



// Rodapé
// ==========================================================================
footer {
  font-size: 0.9em; // FIX font-size

  li {
  	font-size: 13px;
  }

  #acesso-brasil-rodape {
    .logo-acesso {
      float: left;
    }
  }
} // END rodapé



// Notícias (Wordpress API)
// ==========================================================================
.noticia {
  &#noticia-content {}

  &#noticia-sidebar {
    // Remove "Continuar lendo..." do Wordpress
    .module-content a { display: none; }
  }
}


// Páginas (Wordpress API)
// ==========================================================================
#pagina {
    #content {
      border: 1px solid #7d99aa;
      -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 1.5em;
      // -------
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 30px;
      background: #ececec url('../img/bg/bg_boxes.png') 0 0 repeat;

      h1 {
        margin-top: 0;
        margin-bottom: 15px;
      }
      .wrapper {
        background: none;
        border: none;
        box-shadow: none;
      }
      .page-header {
          background: none;
          padding-top: 0;
      }
    }

}





// END file
